@import "tailwindcss";

body {
  direction: rtl;
}

.landing {
  background-image: url("../public/landing-img.png");
  background-position: center;
  background-size: cover;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
